<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My test application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
</head>
<body>
</br>
</br>
</br>
<div style="text-align: center;"><h1>Welcome to my test application</h1>
    <a th:href="@{/customerList}" id="another">
        <button class='btn btn-outline-primary myButtons'>Go next</button>
    </a><br/>
    <!--<img th:src="@{/images/Shaurma.jpg}" th:width="250" th:height="250"/><br/>-->
    <!--<a th:href="@{/design}" id="another">Design your shaurma</a><br/>-->
    <!--<form method="POST" th:action="@{/logout}">-->
    <!--    <input type="submit" value="Logout"/>-->
    <!--</form>-->
</div>
</body>
</html>